<h1>Company Login Page</h1>

<ul class="nav">
    <li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Admin Login", admin_path %></li>
</ul>
<ul>
		<% if user_signed_in? %>
			<li><%= link_to "Edit Profile", edit_company_user_registration_path %></li>
			<li><%= link_to "Logout", destroy_company_user_session_path, method: :delete %></li>
		<% else %>
			<li><%= link_to "Sign Up", new_company_user_registration_path %></li>
			<li><%= link_to "Login", new_company_user_session_path %></li>
		<% end %>
</ul>