<%= simple_form_for(@vehicle) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
  	  <%= f.input :make %>
      <%= f.input :year %>
      <%= f.input :color %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
